<header class="topbar">
    <div class="topbar__left">
        <div class="brand">عيادة الطبيب {{request.tenant.user.username}} </div>
    </div>
    <div class="topbar__center">
        <form class="search">
            <input type="search" placeholder="بحث عن مريض..." aria-label="بحث" />
        </form>
    </div>
    <div class="topbar__right">
        <span class="today" aria-label="تاريخ اليوم">الخميس، ٦ نوفمبر ٢٠٢٥</span>
        <a class="brand" href="{% url 'staff-logout' %}">logout</a>
    </div>
    
</header>