<aside class="sidebar">
    <nav>
        <a class="navlink is-active" href="{% url 'dashboard' %}">الرئيسية</a>
        <a class="navlink" href="{% url 'appointments-dash' %}">سجل المواعيد</a>
        <a class="navlink" href="{% url 'patients-dash' %}">المرضى</a>
        <a class="navlink" href="#">المالية</a>
        <a class="navlink" href="{% url 'patient-signup' %}">مريض جديد</a>
        
        <!-- will be added to the management page later -->
         <!-- display for doctors only -->
        <a class="navlink" href="{% url 'reception-signup' %}">عامل جديد</a>
        
    </nav>
</aside>