{% extends 'main.html' %}
{% block title %} patient login {% endblock %}
{% block content %}


<header class="topbar">
    <div class="topbar__left"><div class="brand">عيادة الطبيب</div></div>
    <div class="topbar__center"></div>
    <div class="topbar__right"><a class="navlink" href="#">إنشاء حساب</a></div>
</header>
<!-- ----------------------------------------- -->

<div class="auth-wrapper">
    <div class="card auth-card">
        <h1 style="margin-top:0;">تسجيل الدخول</h1>
        <form method="post" style="display:grid; gap:16px;">
            {% csrf_token %}
            <div>
                <label name='username' for="username">اسم المستخدم</label>
                <input id="اسم المستخدم" type="text" name="username"/>
            </div>
            <div>
                <label for="text">رقم الهاتف</label>
                <input id="رقم الهاتف" type="text" placeholder="0109999999" name="phone"/>
            </div>
            <button type="submit" class="primary">دخول</button>
        </form>
    </div>
</div>


{% endblock %}